
<app-nav-bar></app-nav-bar>

<div class="addreq">
  <form class="form" [formGroup]="addstudentform">
    <h1 class ="header" > Add new customer </h1>

    <input formControlName="serialNumber" type="number" placeholder=" serialNumber "><br>
    <input formControlName="firstName" type="text" placeholder=" firstName"><br>
    <input formControlName="lastName" type="text" placeholder="lastName"><br>
    <input formControlName="email" type="text" placeholder="email"><br>
    <input formControlName="mobileNumber" type="text" placeholder="mobileNumber"><br>

    <button  (click)="onSave()" type="submit" class="main-btn"> Save</button>

  </form>

</div>

