<app-nav-bar></app-nav-bar>
<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->


<br><br>
<table>
<thead>
<tr>
  <th>Serial Number</th>
  <th>Status</th>
  <th>created date</th>
  <th></th>
  <th></th>
  <th></th>
</tr>
</thead>
<tbody>
<tr  *ngFor="let post of posts| paginate: { itemsPerPage: 4, currentPage: p }">
  <td>{{post.serialNumber}}</td>
  <td>{{post.status}}</td>
  <td>
    {{ post.createdDate | date:'medium' }}
  </td>

  <a class="btn text-warning" [routerLink]="['/update-invoice',post.serialNumber]" ><i class="fa fa-pencil"></i> Edit</a>
        <a class="btn text-danger" (click)="deleteinvoice(post.id)"><i class="fa fa-trash-o"></i> Delete</a>
        <a [routerLink]="['/invoicehistory',post.serialNumber]"  style="color:gray;"> History</a>

</tr>
</tbody>
<pagination-controls (pageChange)="getPosts((p = $event))"></pagination-controls>
<br><br>
<button  routerLink="/invoices/add" type="submit" class="main-btn"> add new Invoice </button>
<br><br>
</table>



