<div class="login-box">
  <h2>Edit Invoice</h2>
  <form class="form" [formGroup]="editStudentform">
    <div class="user-box">
      <input name="serialNumber" required="" formControlName="serialNumber" type="number">
      <label>serial Number</label>
    </div>
    <div class="user-box">
      <input name="status" required="" formControlName="status" type="text">
      <label>status</label>
    </div>
    <div class="user-box">
      <input name="customerSerialNumber" required="" formControlName="customerSerialNumber" type="text">
      <label>customer Serial Number</label>
    </div>
    <div class="user-box">
      <input name="employeeSerialNumber" required="" formControlName="employeeSerialNumber" type="text">
      <label>employee Serial Number</label>
    </div>


    <img style="height: 100px;" src="{{'data:image/jpg;base64,' + invoice.photo}}">
    <td><button type="button" class="btn btn-light" [routerLink]="['/invoice-item',invoice.serialNumber]">show items</button></td>

    <a routerLink="/dashboread" routerLinkActive="active" (click)="editStudent()" type="submit" >
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Edit
    </a>

  </form>
</div>
