<app-nav-bar></app-nav-bar>

<div class="addreq">
  <form class="form" [formGroup]="addstudentform">
    <h1 class ="header" > Add new item </h1>

    <input formControlName="serialNumber" type="number" placeholder=" serialNumber "><br>
    <input formControlName="name" type="text" placeholder=" name"><br>
    <input formControlName="unitPrice" type="text" placeholder="unit Price"><br>


    <button routerLink="/item" routerLinkActive="active" (click)="onSave()" type="submit" class="main-btn"> Save</button>

  </form>

</div>
