<app-nav-bar></app-nav-bar>
<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8"style="background-image: url(https://media.istockphoto.com/vectors/ecommerse-online-store-flat-banner-webpage-design-with-shopping-cart-vector-id1266059411)" >
  <br><br>
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="page-banner-cont">
                  <h2>Items</h2>
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="home">Home</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Items</li>
                      </ol>
                  </nav>
              </div>  <!-- page banner cont -->
          </div>
      </div> <!-- row -->
  </div> <!-- container -->
  <br><br><br>
</section>
<br><br>
<table>
  <thead>
    <tr>
      <th>Serial Number</th>
      <th>Status</th>
      <th>created date</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngFor="let item of itemsList">
    <tr>
      <td>{{item.serialNumber}}</td>
      <td>{{item.name}}</td>
      <td>{{item.unitPrice}}</td>

      <td data-title="Options">
        <a class="btn text-warning "[routerLink]="['/update-invoice',item.id]"><i class="fa fa-pencil"></i> Edit</a>
        <a class="btn text-danger" routerLink="/Success"><i class="fa fa-trash-o"></i> Delete</a>
      </td>
    </tr>
  </tbody>
  <br><br>
  <button  routerLink="/item/add"  routerLinkActive="active" type="submit" class="main-btn"> add new item </button>
<br><br>
</table>
