<app-nav-bar></app-nav-bar>

<div class="addreq">
  <form class="form" [formGroup]="addstudentform">
    <h1 class ="header" > Add new item </h1>

    <input formControlName="quantity" type="number" placeholder=" quantity "><br>
    <select id = "select" style="width: 40%;">
      <option>Select an item</option>
      <option *ngFor="let item of itemsList" value={{item.serialNumber}}>{{item.serialNumber}}</option>
    </select><br>
    <button routerLinkActive="active" (click)="onSave()" type="submit" class="main-btn"> Save</button>

  </form>

</div>
