<app-nav-bar></app-nav-bar>

<div class="addreq">
  <form class="form" [formGroup]="addstudentform" enctype="multipart/form-data" >
    <h1 class ="header" > Add new invoice </h1>

    <input formControlName="serialNumber" type="number" placeholder=" serialNumber "><br>
    <input formControlName="status" type="text" placeholder=" status"><br>
    <input formControlName="customerSerialNumber" type="text" placeholder="customer serial number"><br>
    <input formControlName="employeeSerialNumber" type="text" placeholder="employee serial number"><br>
    <input   (change)="fileChanged($event)"  type="file" name="image" accept="image/png, image/jpeg" />

    <button  (click)="onSave()" type="submit" class="main-btn"> Save</button>

  </form>

</div>
