<div class="login-box">
  <h2>Edit Invoice</h2>
  <form class="form" [formGroup]="editStudentform">
    <div class="user-box">
      <input name="quantity" required="" formControlName="quantity" type="number">
      <label>quantity</label>
    </div>
    <select id = "select" style="width: 40%;">
      <option>Select an item</option>
      <option *ngFor="let item of itemsList" value={{item.serialNumber}}>{{item.name}}</option>
    </select><br>
    <a routerLinkActive="active" (click)="editStudent()" type="submit" >
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Edit
    </a>

  </form>
</div>
